.navBar {

}

.fullWidthImage {
    width: 100%;
    float: left;
    height: 100vh;
    background: #333333 url(../images/header.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 1200px) {
    .fullWidthImage {
        height: 75vh;
    }
  }

  @media (max-width: 1366px) {
    .fullWidthImage {
        background-attachment: scroll;
    }
  }

  @media (max-width: 350px) {
    .fullWidthImage h1 {
        font-size: 3.3rem;
    }
    .fullWidthImage h5 {
        font-size: 1.3rem;
    }
  }

.fullWidthImageText i {
    margin: 6px 10px;
    font-size: 2rem;
    transition: 0.5s ease;
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.arrowDown {
    height: 50px;
    width: 50px;
    background: url(../images/arrowdown.png);
    background-position: center;
    background-size: cover;
}

.arrowDownContainer {
    width: 100%; 
    position: absolute;
    bottom: 0;
    height: 120px;
    display: flex; 
    justify-content: center;
}

@media (max-width: 500px) { 
    .arrowDown {
        height: 30px;
        width: 30px;
    }
    .arrowDownContainer {
        height: 80px;
    }
}

.aboutBar {
    float: left; 
    width: 100%;
    padding: 80px 0;
}
.me {
    height: 215px;
    width: 215px;
    border-radius: 150px;
    background: #333333 url(../images/me.jpg);
    background-size: cover; 
    background-position: center;
    margin: auto;
}
@media (max-width: 900px) { 
    .column, .columns {
        margin: 0;
    }
    .responsiveContainer {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    
      .responsiveContainer .aboutText {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        width: 100% !important;
      }
    
      .responsiveContainer .aboutImage {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 100% !important;
        margin-bottom: 50px;
      }
  }
  @media (max-width: 600px) { 
    .me {
        height: 150px;
        width: 150px;
    }
  }
.experienceBar {
    float: left;
    width: 100%;
    padding: 80px 0;
    background: #212121;
}

.experienceBox {
    width: 12%;
    float: left;
    margin: 0 8% 0 0;
}

.experienceBoxContainer {
    margin-top: 55px;
}

.experienceBox img {
    max-width:100%;
    max-height:100%;
    filter: grayscale(10%);
    opacity: 0.8;
    transition: 0.5s ease;
}

.experienceBox img:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.projectsBar {
    float: left;
    width: 100%;
    padding: 80px 0;
}

.projectCategory {
    margin-top:40px;
}

@media (max-width: 450px) {
    .projectCategory h5 {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
  }
  @media (max-width: 350px) { 
    .projectCategory h5 { 
        line-height: 3.2rem;
        font-size: 1.2rem;
    }
  }

.projectIcon {
    height: 40px;
    width: 40px;
    background: #ababab;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
@media (max-width: 350px) {
    .projectIcon {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}
.uni .projectIcon {
    background: #ffffff url(../images/uni.png);
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat;
}

.ybm .projectIcon {
    background: #4B6DB7 url(../images/ybm.png);
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat;
}

.personal .projectIcon {
    background: #ababab url(../images/user.png);
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat;
}

.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .projectContainer {
      float: left; 
      width: 100%;
      padding: 0 0 48px 0;
  }

  @media (max-width: 450px) {
    .projectContainer {
        padding: 0 0 40px 0;
    }
  }

  .last .projectContainer:last-of-type {
    padding: 0;
    max-height: 335px;
  }

  .project {
      float: left; 
      width: 23%;
      margin: 1%;
      height: 150px;
      background: #333333;
      transition: 0.5s ease;
  }

  @media (max-width: 1200px) {
    .project {
      height: 120px;
    }
  }
  @media (max-width: 1000px) {
    .project {
        width: 31.33%;
        height: 140px;
    }
  }
  @media (max-width: 940px) {
    .project {
        height: 120px;
    }
  }
  @media (max-width: 785px) {
    .project {
        width: 47%;
        height: 140px;
        margin: 1.5%;
    }
  }
  @media (max-width: 650px) {
    .project {
        height: 130px;
    }
  }
  @media (max-width: 560px) {
    .project {
        height: 115px;
    }
  }
  @media (max-width: 450px) {
    .project {
        height: 100px;
    }
  }
  @media (max-width: 350px) {
    .project {
        height: 80px;
    }
  }
  .project:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  @media (max-width: 785px) { 
    .project:hover {
        transform: scale(1.03);
        -ms-transform: scale(1.03);
        -webkit-transform: scale(1.03);
    }
  }

  .contactBar {
    float: left;
    text-align: center;
    width: 100%;
    padding: 80px 0;
    background: #212121;
  }

  .contactBar .dividerLine {
      margin: 0 auto 23px auto;
  }

  .formContainer {
    width: 430px;
    margin: auto;
}
@media (max-width: 525px) {
    .formContainer {
        width: 100%;
        margin: auto;
    }
  }
.formContainer #ajaxForm {
    margin-bottom: 0;
}

.formContainer button {
    width: 100%;
}

.contactSocial i {
    margin: 40px 14px 0 14px;
    font-size: 4rem;
    transition: 0.5s ease;
}

footer {
    float: left;
    width: 100%;
    padding: 60px 0;
}

@media (max-width: 350px) { 
    footer h5 {
        font-size: 1rem;
    }
}

.logoFooter {
    margin-bottom: 55px;
}

.redGrad {
    background: #EB2068;
    background: linear-gradient(90deg, rgba(191,38,117,1) 0%, rgba(252,29,100,1) 100%); 
}

.redGradText {
    background: #EB2068;
    background: linear-gradient(90deg, rgba(191,38,117,1) 0%, rgba(252,29,100,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


