/*font*/
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

/*stops the browser setting auto padding, chrome does this*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
    box-sizing: border-box;
}

body {
  font: normal 1em/1.2em "Ropa Sans", sans-serif;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

h1, h2 {
  font-family: "Ropa Sans", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;

}
h2 {
  font-size: 1.4em;
  line-height: 30px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  color: #000000;
  padding-bottom: 3%
}
p {
  margin: 20px 0;
}
/*stops links being ugly*/
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}



/*layout*/
/*shadow below nav bar*/


      


.fixed-nav-bar {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
}

.content {
  position: relative;
  background: url(../assets/background.jpg);
  /*so the image fits*/
  background-size: cover;
  overflow: hidden;
 }

 /*keeps content looking okay in desktop view*/
.description, .about-us {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.description {
  padding-top: 190px;
  min-height: 400px;
  text-align: center;
  color: #000000;

}
.about-us h1 {
  color: #000000;
  margin-top: 30px;
  text-align: center;

}

div.img img {
    width: 69%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.desc {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.responsive {
    padding: 0 30px;
    float: left;
    width: 33.33333%;
}

/*forms*/

input[type=text], textarea {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-size: 0.9em;

}

    input[type=text]:focus, textarea:focus {
        background-color: rgb(80, 80, 80);
    }

div.form {
  color: #000000;
  margin: 8px;
  padding: 20px 20px;
}

@media only screen and (max-width: 720px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;

    }
}

.button {
    margin: auto;
    background-color: 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
}

.button:hover {
    margin: auto;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}



div.short-desc {
  display: none;
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
