<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
  <title>Rates | CryptoTracker</title>
</head>

<body>
  <div id="app">
    <header class="navbar">
      <div class="container">
        <div class="logo">
          <a href="index.html"><img src="./img/logo.png" alt="CryptoTracker" /></a>
        </div>
        <div class="nav">
          <ul>
            <li class="current"><a href="#">Rates</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="wallet.html">Wallet</a></li>
            <li><a href="user.html">
                <div class="signInImageSmall"></div></i>
              </a></li>
            <span class="burger-open">
              <a href="#" onclick="openBurgerMenu()">
                <i class="fas fa-bars"> </i>
              </a>
            </span>
          </ul>
        </div>
        <div id="burger-menu" class="burger-nav">
          <a href="#" class="btn-close" onclick="closeBurgerMenu()">&times;</a>
          <a href="#">Rates</a>
          <a href="news.html">News</a>
          <a href="wallet.html">Wallet</a>
          <a href="user.html">Account</a>
        </div>
      </div>
    </header>

    <div class="container-body">
      <div class="icon">
        <i class="fade animate fadeIn delay2 fas fa-chart-line" style="font-size:48px;color:#55C0FA;"></i>
      </div>
      <div class="title fade animate fadeIn delay2">
        <h1>Current Rates</h1>
      </div>

      <div class="coingrid fade animate fadeIn delay3">
        <div class="coinbox" id="btnBtc">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/bitcoin.svg" alt="bitcoin" />
            </div>

            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.BTC.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.BTC.USD.CHANGE24HOUR)">{{
                  coins.RAW.BTC.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.BTC.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.BTC.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.BTC.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.BTC.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnEth">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="http://introtocrypto.com/wp-content/uploads/2017/08/ether@2x.png" alt="ethereum" />
            </div>
            <div class="price-container">
              <p>
                <span class="price" v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.ETH.USD.CHANGE24HOUR)">{{
                  coins.RAW.ETH.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.ETH.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.ETH.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.ETH.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.ETH.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnLtc">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/litecoin.svg" alt="litecoin" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.LTC.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.LTC.USD.CHANGE24HOUR)">{{
                  coins.RAW.LTC.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.LTC.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.LTC.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.LTC.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.LTC.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnXrp">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://bitcoinist.com/wp-content/uploads/2016/08/Ripple-logo.png" alt="ripple" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.XRP.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XRP.USD.CHANGE24HOUR)">{{
                  coins.RAW.XRP.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XRP.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.XRP.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.XRP.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.XRP.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnOmg">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/omisego.svg" alt=" ethereum" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.OMG.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.OMG.USD.CHANGE24HOUR)">{{
                  coins.RAW.OMG.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.OMG.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.OMG.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.OMG.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.OMG.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnEos">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/eos-3.svg" alt="Eos" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.EOS.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.EOS.USD.CHANGE24HOUR)">{{
                  coins.RAW.EOS.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.EOS.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.EOS.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.EOS.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.EOS.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnNeo">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/gas-1.svg" alt="
              Neo" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.NEO.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.NEO.USD.CHANGE24HOUR)">{{
                  coins.RAW.NEO.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.NEO.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.NEO.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.NEO.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.NEO.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnDash">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/dash-3.svg" alt="dash" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.DASH.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.DASH.USD.CHANGE24HOUR)">{{
                  coins.RAW.DASH.USD.CHANGE24HOUR | currency }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.DASH.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.DASH.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.DASH.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.DASH.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="coinbox" id="btnXmr">
          <div class="coincontent" v-if="coins.DISPLAY">
            <div class="coinimage">
              <img src="https://cdn.worldvectorlogo.com/logos/monero.svg" alt="monero" />
            </div>
            <div class="price-container">
              <p>
                <span class="price">{{ coins.DISPLAY.XMR.USD.PRICE }}</span>
              </p>
            </div>
            <div class="hr-vol-container">
              <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XMR.USD.CHANGE24HOUR)">{{
                  coins.DISPLAY.XMR.USD.CHANGE24HOUR }}</span></p>
            </div>
            <div class="hr-vol-container">
              <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XMR.USD.CHANGEPCT24HOUR)">{{
                  coins.RAW.XMR.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            </div>
            <div class="box-page-line"></div>
            <div class="hr-vol-container">
              <p>
                Volume (24hr): <span class="hr-vol">{{ coins.DISPLAY.XMR.USD.VOLUME24HOUR }}</span>
              </p>
            </div>
            <div class="mkt-cap-container">
              <p>
                Market Cap: <span class="mkt-cap">{{ coins.DISPLAY.XMR.USD.MKTCAP }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" id="popupBtc">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnBtc">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.BTC.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.BTC.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.BTC.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/bitcoin.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Bitcoin</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main" v-if="coins.DISPLAY">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.BTC.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.BTC.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.BTC.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.BTC.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.BTC.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.BTC.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.BTC.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.BTC.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.BTC.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.BTC.USD.LASTMARKET }}</span></p>
          </div>
        </div>
        <div class="graph-container">
          <div id="wrap">
            <line-chart></line-chart>
          </div>
        </div>

      </div>
    </div>

    <div class="popup" id="popupEth">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnEth">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.ETH.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.ETH.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="http://introtocrypto.com/wp-content/uploads/2017/08/ether@2x.png" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Ethereum</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.ETH.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.ETH.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.ETH.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.ETH.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.ETH.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.ETH.USD.LASTMARKET }}</span></p>
          </div>
        </div>
        <div class="graph-container">
          <h3>Graph implementation can be seen in the Bitcoin box.</h3>
        </div>
      </div>
    </div>

    <div class="popup" id="popupLtc">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnLtc">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.LTC.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.LTC.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.LTC.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/litecoin.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Litecoin</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.LTC.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.LTC.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.LTC.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.LTC.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.LTC.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.LTC.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.LTC.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.LTC.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.LTC.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.LTC.USD.LASTMARKET }}</span></p>
          </div>
        </div>
         <div class="graph-container">
          <h3>Graph implementation can be seen in the Bitcoin box.</h3>
        </div>
      </div>
    </div>

    <div class="popup" id="popupXrp">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnXrp">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.XRP.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.XRP.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.XRP.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://bitcoinist.com/wp-content/uploads/2016/08/Ripple-logo.png" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Ripple</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XRP.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.XRP.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XRP.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.XRP.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.XRP.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.XRP.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.XRP.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.XRP.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.XRP.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.XRP.USD.LASTMARKET }}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" id="popupOmg">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnOmg">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.OMG.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.OMG.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.OMG.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/omisego.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>OmiseGO</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.OMG.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.OMG.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.OMG.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.OMG.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.OMG.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.OMG.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.OMG.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.OMG.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.OMG.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.OMG.USD.LASTMARKET }}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" id="popupEos">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnEos">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.EOS.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.EOS.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.EOS.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/eos-3.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>EOS</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.EOS.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.EOS.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.EOS.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.EOS.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.EOS.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.EOS.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.EOS.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.EOS.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.EOS.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.EOS.USD.LASTMARKET }}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" id="popupNeo">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnNeo">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.NEO.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.NEO.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.NEO.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/gas-1.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Neo</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.NEO.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.NEO.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.NEO.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.NEO.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.NEO.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.NEO.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.NEO.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.NEO.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.NEO.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.NEO.USD.LASTMARKET }}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" id="popupDash">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnDash">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.DASH.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.DASH.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.DASH.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/dash-3.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Dash</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.DASH.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.DASH.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.DASH.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.DASH.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.DASH.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.DASH.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.DASH.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.DASH.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.DASH.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.DASH.USD.LASTMARKET }}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="popup" id="popupXmr">
      <div class="popup-content">
        <div class="detail-header">
          <span class="closeBtn" id="closeBtnXmr">&times;</span>
          <div class="pop-up-price-container">
            <div class="price-detail" v-if="coins.DISPLAY">
              <h1>{{ coins.DISPLAY.XMR.USD.PRICE }}</h1>
            </div>
            <div class="lastupdated">
              <h3>Last Update: <span class="lastupdated-bold" v-bind:style="getColorUpdate(coins.DISPLAY.XMR.USD.LASTUPDATE)"
                  v-if="coins.DISPLAY">{{ coins.DISPLAY.XMR.USD.LASTUPDATE
                  }}</span></h3>
            </div>
          </div>
          <div class="coin-nameimage-container">
            <div class="coinimage-detail">
              <img src="https://cdn.worldvectorlogo.com/logos/monero.svg" alt="bitcoin" />
            </div>
            <div class="coin-name-detail">
              <h1>Monero</h1>
            </div>
          </div>
        </div>
        <div class="detail-main-container">
          <div class="detail-main">
            <p>Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XMR.USD.CHANGE24HOUR)" v-if="coins.DISPLAY">{{
                coins.DISPLAY.XMR.USD.CHANGE24HOUR }}</span></p>
            <p>% Change (24hr): <span class="hr-vol" v-bind:style="getColor(coins.RAW.XMR.USD.CHANGEPCT24HOUR)" v-if="coins.DISPLAY">{{
                coins.RAW.XMR.USD.CHANGEPCT24HOUR | currency('%', 2, { symbolOnLeft: false }) }}</span></p>
            <div class="detail-page-line"></div>
            <p>High (24hr): <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.XMR.USD.HIGH24HOUR }}</span></p>
            <p>Low (24hr): <span class="hr-low" v-if="coins.DISPLAY">{{ coins.DISPLAY.XMR.USD.LOW24HOUR }}</span></p>
            <div class="detail-page-line"></div>
            <p>Volume (24hr): <span class="hr-vol" v-if="coins.DISPLAY">{{ coins.DISPLAY.XMR.USD.VOLUME24HOUR }}</span></p>
            <p>Market Cap: <span class="mkt-cap" v-if="coins.DISPLAY">{{ coins.DISPLAY.XMR.USD.MKTCAP }}</span></p>
            <p>Circulating Supply: <span class="hr-hi" v-if="coins.DISPLAY">{{ coins.DISPLAY.XMR.USD.SUPPLY }}</span></p>
            <div class="detail-page-line"></div>
            <p>Last Market:<span class="hr-vol" v-if="coins.DISPLAY"> {{ coins.DISPLAY.XMR.USD.LASTMARKET }}</span></p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footercontainer">
        <div class="footercontent">
          <div class="logofooter">
            <a href="index.html"><img src="./img/logo.png" alt="CryptoTracker" /></a>
          </div>
          <div class="copyright">
            <p>&copy; Copyright 2019 Fraser Watson. <br /> Designed & developed by Fraser Watson.</p>
          </div>
          <div class="contacts">
            <li><a href="https://www.linkedin.com/in/fraserjohnwatson/"><i class="fab fa-linkedin-in"></a></i>
            </li>
            <li><a href="https://www.behance.net/fraserjohnwatson">
                <i class="fab fa-behance"></i></a>
            </li>
            <li><a href="mailto:fraserjohnwatson@gmail.com">
                <i class="fas fa-at"></i></a>
            </li>
          </div>
        </div>
      </div>
    </footer>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs@3.0.1-rc2/dist/vue-chartjs.js"></script>
  <script type="text/javascript" src="js/burger.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript" src="js/popup.js"></script>









</body>

</html>