/*Content Centering*/
@mixin contentCentering(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroBar {
    float: left;
    width: 100%;
    margin-top: 73px;
    background: url('../assets/hero.jpg');
    background-size: cover; 
    background-position: center;
    position: relative;
    .outer {
        @include contentCentering();
        width: 100%;
        height: 720px;
    }
    .cornerText {
        color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 40px 20px;
        width: 99px;
        height: 70px;
        .icon {
            width: 25px;
            height: 7px;
            background: url(../assets/cornerIcon.png);
            background-size: cover;
            background-position: center;
            margin-bottom: 15px;
        }
    }
}
.cornerTextContainer {
    position: relative;
    width: 1360px;
}

.heroOverlay {
    color: #ffffff;
    width: auto;
    height: 350px;
    background: url(../assets/heroBubble.png);
    background-size: 500px 350px;
    background-repeat: no-repeat;
    margin-left: -50px;
    .inner {
        padding: 37px 0 0 50px;
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: space-between;
    }
    .below {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .arrowDown {
        background: url('../assets/arrowDown.png');
        background-size: 17px 52px;
        height: 52px;
        width: 17px;
        margin-top: 10px;
    }
    .textMiddle {
        width: 250px;
        height: auto;
    }
}

