@mixin shadow(){
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 23px 0px rgba(0,0,0,0.15);
}

.navBar {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #ffffff;
    padding: 15px 0;
    @include shadow;
    .container {
        display: flex;
        justify-content: space-between;
    }
    a, a:visited {
        margin: 0 10px;
        font-size:1.5rem;
    }
    i {
        font-size: 2rem;
    }
    .navSm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        .smIcon {
            margin: 0;
        }
    }
    .mobileMenuBox {
        height: 43px;
        display: none;
        .mobileMenu {
            .closeButtonBox {
                a {
                    font-size: 5rem;
                }
            }
        }
    }
}


.logo {
    height: 40px;
    width: 101px;
    background: url(../assets/nudgeminds.png);
    background-size: cover; 
    background-position: center;
}

.navMenu {
    margin: 10px 0;
}
.mobileMenuButton {
    display: none;
    height: 45px;
    width: 45px;
    background: url(../assets/menuButton.png);
    background-size: cover;
    background-position: center;
}
.mobileMenu {
    height: 100%;
    width: 450px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all .6s cubic-bezier(.77,0,.175,1);
    z-index: 999;
    .navSm {
        margin-left: 30px;
        margin-top: 30px;
        justify-content: flex-start;
        .smIcon {
            margin: 0;
        }
    }
    .closeButtonBox {
        width: 77px;
        float: right;
    }
    .sideMenuLogo {
        width: 200px;
        width: 130px;
        height: 95px;
        background: url(../assets/nudgeminds.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 10px 0 0 40px;
    }
    .sideMenuLinks {
        ul {
            list-style: none;
            text-align: left;
            margin-right: 35px;
            li {
                margin: 0px 0;
                padding: 13px 0;
                border-bottom: 1px solid rgb(0 0 0 / 5%);
                position: relative;
                &:after {
                    position: absolute;
                    top: 10px;
                    right: 0;
                    height: 38px;
                    width: 50px;
                    background: url(../assets/angleRight.png);
                    background-size: 22px 12px;
                    background-position: center;
                    background-repeat: no-repeat;
                    content: " ";
                    opacity: 0.7;
                }
                a {
                    margin: 0;
                    font-size: 2rem;
                }
            }
        }
    }
}





