$primary: #121E3C;
$accent: #96D6D9;
$pastel1: #CFF2EC;
$pastel2: #FFE6C7;
$pastel3: #EAF2FF;

.stayConnected {
    height: 120px;
    width: 340px;
    background: $accent;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    .inner {
        padding: 20px 30px;
    }
}

