$primary: #121E3C;
$accent: #96D6D9;
$tertiary: #FFE6C7;


.stayConnected {
    height: 120px;
    width: 340px;
    background: #96D6D9;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    .inner {
        padding: 20px 30px;
    }
}

