.stayConnected {
  height: 120px;
  width: 340px;
  background: #96D6D9;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.stayConnected .inner {
  padding: 20px 30px;
}

.navBar {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #ffffff;
  padding: 15px 0;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.15);
}
.navBar .container {
  display: flex;
  justify-content: space-between;
}
.navBar a, .navBar a:visited {
  margin: 0 10px;
  font-size: 1.5rem;
}
.navBar i {
  font-size: 2rem;
}
.navBar .navSm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}
.navBar .navSm .smIcon {
  margin: 0;
}
.navBar .mobileMenuBox {
  height: 43px;
  display: none;
}
.navBar .mobileMenuBox .mobileMenu .closeButtonBox a {
  font-size: 5rem;
}

.logo {
  height: 40px;
  width: 101px;
  background: url(../assets/nudgeminds.png);
  background-size: cover;
  background-position: center;
}

.navMenu {
  margin: 10px 0;
}

.mobileMenuButton {
  display: none;
  height: 45px;
  width: 45px;
  background: url(../assets/menuButton.png);
  background-size: cover;
  background-position: center;
}

.mobileMenu {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 999;
}
.mobileMenu .navSm {
  margin-left: 30px;
  margin-top: 30px;
  justify-content: flex-start;
}
.mobileMenu .navSm .smIcon {
  margin: 0;
}
.mobileMenu .closeButtonBox {
  width: 77px;
  float: right;
}
.mobileMenu .sideMenuLogo {
  width: 200px;
  width: 130px;
  height: 95px;
  background: url(../assets/nudgeminds.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0 0 40px;
}
.mobileMenu .sideMenuLinks ul {
  list-style: none;
  text-align: left;
  margin-right: 35px;
}
.mobileMenu .sideMenuLinks ul li {
  margin: 0px 0;
  padding: 13px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.mobileMenu .sideMenuLinks ul li:after {
  position: absolute;
  top: 10px;
  right: 0;
  height: 38px;
  width: 50px;
  background: url(../assets/angleRight.png);
  background-size: 22px 12px;
  background-position: center;
  background-repeat: no-repeat;
  content: " ";
  opacity: 0.7;
}
.mobileMenu .sideMenuLinks ul li a {
  margin: 0;
  font-size: 2rem;
}

/*Content Centering*/
.heroBar {
  float: left;
  width: 100%;
  margin-top: 73px;
  background: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.heroBar .outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 720px;
}
.heroBar .cornerText {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 40px 20px;
  width: 99px;
  height: 70px;
}
.heroBar .cornerText .icon {
  width: 25px;
  height: 7px;
  background: url(../assets/cornerIcon.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.cornerTextContainer {
  position: relative;
  width: 1360px;
}

.heroOverlay {
  color: #ffffff;
  width: auto;
  height: 350px;
  background: url(../assets/heroBubble.png);
  background-size: 500px 350px;
  background-repeat: no-repeat;
  margin-left: -50px;
}
.heroOverlay .inner {
  padding: 37px 0 0 50px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
}
.heroOverlay .below {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.heroOverlay .arrowDown {
  background: url("../assets/arrowDown.png");
  background-size: 17px 52px;
  height: 52px;
  width: 17px;
  margin-top: 10px;
}
.heroOverlay .textMiddle {
  width: 250px;
  height: auto;
}

.behind {
  position: absolute;
  z-index: 2;
}

.getInTouchBar {
  float: left;
  width: 100%;
  padding: 0;
  height: 650px;
  position: relative;
}
.getInTouchBar .behind {
  top: 200px;
  left: 0;
  width: 980px;
  height: 450px;
  background: #CFF2EC;
}
.getInTouchBar .left, .getInTouchBar .right {
  margin-top: 115px;
  z-index: 3;
  position: relative;
}
.getInTouchBar .left {
  float: left;
  z-index: 5;
  width: 50%;
  width: 500px;
  height: 700px;
  margin-right: 133px;
  background: url(../assets/touchLeft.png);
  background-size: cover;
  background-position: center;
}
.getInTouchBar .right {
  float: right;
  width: calc(100% - 633px);
}
.getInTouchBar .right .believeBody {
  margin-top: 20px;
}
.getInTouchBar .believeButton {
  margin-top: 50px;
}

.resourcesBar {
  float: left;
  width: 100%;
  height: 743px;
  position: relative;
  margin-bottom: 83px;
}
.resourcesBar .behind {
  top: 42px;
  left: 530px;
  width: 450px;
  height: 783px;
  background: #FFE6C7;
}
.resourcesBar .left, .resourcesBar .right {
  z-index: 3;
  position: relative;
}
.resourcesBar .left {
  float: left;
  z-index: 5;
  width: 50%;
  margin-top: 325px;
  position: relative;
}
.resourcesBar .left .resourcesBody {
  margin-top: 20px;
}
.resourcesBar .right {
  float: right;
  z-index: 5;
  width: 582px;
  height: 480px;
  margin-top: 165px;
  position: relative;
  background: url(../assets/resourcesRight.png);
  background-size: cover;
  background-position: center;
}
.resourcesBar .resourcesButton {
  margin-top: 30px;
}

.aboutBar {
  text-align: center;
  float: left;
  width: 100%;
  margin: 160px 0 110px 0;
}
.aboutBar .title {
  padding: 40px 0px 10px 0;
  background: url(../assets/aboutBackground.png);
  background-size: 207px 196px;
  background-position: center;
  background-repeat: no-repeat;
}

.featureBar {
  float: left;
  width: 100%;
  margin: 0 0 125px 0;
  padding: 0 0 65px 0;
  position: relative;
}
.featureBar .left, .featureBar .right {
  z-index: 3;
  position: relative;
  width: 500px;
}
.featureBar .left .image {
  background: url(../assets/feature1.png);
  background-size: cover;
  background-position: center;
}
.featureBar .left .text {
  background: url(../assets/featureBubble.png);
  background-size: 500px 350px;
  background-position: -50px 0;
  background-repeat: no-repeat;
}
.featureBar .right .image {
  background: url(../assets/feature2.png);
  background-size: cover;
  background-position: center;
}
.featureBar .right .text {
  background: url(../assets/featureBubbleVariant.png);
  background-size: 500px 350px;
  background-position: -130px 0;
  background-repeat: no-repeat;
}
.featureBar .behind {
  position: absolute;
  width: 100%;
  height: 426px;
  background: #EAF2FF;
  bottom: 0;
}
.featureBar .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.featureBar .image {
  width: 500px;
  height: 360px;
}
.featureBar .text {
  margin: -115px 0 0 0;
  padding: 100px 0 0 0;
}
.featureBar .title {
  width: 60%;
}
.featureBar .bodyText {
  width: 95%;
}

.badgesBar {
  float: left;
  width: 100%;
  margin: 0 0 100px 0;
}

.badgesInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}
.badgesInner img {
  align-self: center;
}

.testimonialBar {
  text-align: center;
  float: left;
  width: 100%;
  margin: 50px 0;
}

.clientName .line {
  width: 43px;
  height: 4px;
  background: url(../assets/underline.png);
  background-size: cover;
  background-position: center;
  margin: auto;
}

.moreServices {
  text-align: center;
  float: left;
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.moreServices .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.moreServices .logos .nudgeOnline, .moreServices .logos .nudgeEdu {
  width: 79px;
  height: 31px;
  margin: 0 10px;
}
.moreServices .logos .nudgeOnline {
  background: url(../assets/nudgeOnline.png);
  background-size: cover;
  background-position: center;
}
.moreServices .logos .divider {
  height: 50px;
  width: 1px;
  background: #121E3C;
  margin: 0 10px;
}
.moreServices .logos .nudgeEdu {
  background: url(../assets/nudgeEdu.png);
  background-size: cover;
  background-position: center;
}

.address {
  text-align: center;
  float: left;
  width: 100%;
  margin: 0px 0 80px 0;
}

/* Responsive */
@media screen and (max-width: 1240px) {
  .heroOverlay {
    margin-left: 20px;
  }

  .getInTouchBar .left {
    margin-right: 64px;
    width: 450px;
    height: 600px;
  }
  .getInTouchBar .right {
    float: left;
    width: calc(100% - 633px);
  }

  .resourcesBar {
    margin-bottom: 0;
  }
  .resourcesBar .right {
    float: right;
    width: 500px;
    height: 400px;
    margin-top: 170px;
    margin-left: 18px;
  }
  .resourcesBar .left {
    width: 492px;
    margin-top: 225px;
  }
  .resourcesBar .behind {
    height: 655px;
  }

  .aboutBar {
    margin: 110px 0;
  }

  .featureBar .behind {
    height: 415px;
  }
  .featureBar .inner {
    justify-content: space-around;
  }
  .featureBar .image, .featureBar .left, .featureBar .right {
    width: 430px;
  }
  .featureBar .image {
    width: 430px;
    height: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .getInTouchBar .right {
    float: left;
    width: 350px;
  }
  .getInTouchBar .resourcesBar .left {
    width: 350px;
  }
}
@media screen and (max-width: 1070px) {
  .resourcesBar br {
    display: none;
  }
  .resourcesBar .left {
    width: 400px;
  }
  .resourcesBar .right {
    width: 460px;
  }

  .featureBar {
    padding: 0;
  }
  .featureBar .title {
    width: 100%;
  }
  .featureBar .behind {
    height: 415px;
  }
  .featureBar .inner {
    justify-content: space-around;
  }
  .featureBar .image, .featureBar .left, .featureBar .right {
    width: 360px;
  }
  .featureBar .image {
    width: 360px;
    height: 250px;
  }
  .featureBar .left .text, .featureBar .right .text {
    background-size: 350px 195px;
    background-position: -75px 0;
    padding: 75px 0;
  }
  .featureBar .left .bodyText, .featureBar .right .bodyText {
    width: 100%;
  }
  .featureBar .left .text {
    background-position: -30px 0;
  }

  .aboutBar .title {
    padding: 86px 0px 10px 0;
  }
}
@media screen and (max-width: 1030px) {
  .getInTouchBar .behind {
    width: 100%;
    width: calc(100% - 20px);
  }

  .resourcesBar .behind {
    left: 500px;
    width: calc(100% - 520px);
  }
}
@media screen and (max-width: 940px) {
  .navMenu {
    display: none;
  }

  .navBar .navSm {
    display: none;
  }

  .navBar .mobileMenuSm {
    display: flex;
  }

  .mobileMenuButton {
    display: inline-block;
  }

  .navBar .mobileMenuBox {
    display: inline-block;
  }

  .stayConnected {
    display: none;
  }

  .getInTouchBar, .resourcesBar {
    height: auto;
  }
  .getInTouchBar .left, .getInTouchBar .right, .resourcesBar .left, .resourcesBar .right {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .getInTouchBar .left h2, .getInTouchBar .right h2, .resourcesBar .left h2, .resourcesBar .right h2 {
    width: 90%;
    margin: 0 5%;
  }
  .getInTouchBar .behind, .resourcesBar .behind {
    display: none;
  }
  .getInTouchBar .believeButton, .getInTouchBar .resourcesButton, .resourcesBar .believeButton, .resourcesBar .resourcesButton {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  .getInTouchBar .believeBody, .getInTouchBar .resourcesBody, .resourcesBar .believeBody, .resourcesBar .resourcesBody {
    width: 90%;
    margin: 20px 5%;
  }

  .getInTouchBar {
    margin: 150px 0 0 0;
    background: #CFF2EC;
  }
  .getInTouchBar .left {
    height: 300px;
    width: 90%;
    margin: -100px 5% 0 5%;
  }
  .getInTouchBar .right {
    margin: 40px 0;
  }
  .getInTouchBar .behind {
    display: none;
  }
  .getInTouchBar .mobileOrder {
    display: flex;
    flex-direction: column;
  }

  .resourcesBar {
    margin: 200px 0 0 0;
    background: #FFE6C7;
  }
  .resourcesBar .left {
    margin: 40px 0;
  }
  .resourcesBar .right {
    height: 300px;
    width: 90%;
    margin: -100px 5% 0 5%;
  }
  .resourcesBar .behind {
    height: 613px;
  }
  .resourcesBar .mobileOrder {
    display: flex;
    flex-direction: column-reverse;
  }

  .badgesInner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .badgesInner img {
    margin: 20px;
  }
}
@media screen and (max-width: 850px) {
  .heroOverlay {
    transform: scale(0.8);
  }

  .featureBar .inner {
    justify-content: center;
    flex-direction: column;
  }
  .featureBar .left, .featureBar .right {
    position: relative;
    width: 100%;
    margin: 20px 0;
    text-align: left;
  }
  .featureBar .left .text, .featureBar .right .text {
    background-size: 350px 195px;
    width: calc(100% - 50px);
    padding: 75px 0 50px 0;
    margin: -115px auto 0 auto;
  }
  .featureBar .left .image, .featureBar .right .image {
    width: calc(100% - 50px);
    margin: auto;
  }
  .featureBar .left .title, .featureBar .right .title {
    width: 50%;
  }
  .featureBar .left:after, .featureBar .right:after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 100%;
    background: #EAF2FF;
    content: " ";
    z-index: -1;
  }
  .featureBar .left .text {
    background-position: -30px 0;
  }
  .featureBar .right .text {
    padding: 65px 0 50px 0;
    background-position: -75px 0;
  }
  .featureBar .behind {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .mobileMenu {
    width: 100%;
  }

  .heroBar {
    height: calc(100vh - 73px);
  }
  .heroBar .outer {
    height: 100%;
  }

  .heroOverlay {
    width: 500px;
    margin: auto;
    transform: scale(1);
  }
  .heroOverlay .inner {
    padding: 40px 0 0 20px;
    justify-content: center;
  }
  .heroOverlay .textMiddle {
    width: 215px;
  }
}
@media screen and (max-width: 550px) {
  .heroOverlay {
    background-size: cover;
    background-position: center;
    width: 425px;
    height: 297px;
  }
  .heroOverlay .inner {
    padding: 40px 0 0 40px;
    margin-top: -70px;
  }
  .heroOverlay .below {
    display: inline-block;
  }
  .heroOverlay .arrowDown {
    float: left;
    margin-top: 5px;
  }
  .heroOverlay .textMiddle {
    float: left;
    width: calc(100% - 100px);
    margin: 5px 0 10px 0;
  }
}
@media screen and (max-width: 450px) {
  .heroOverlay {
    background-size: cover;
    background-position: center;
    width: 375px;
    height: 262px;
  }
  .heroOverlay .textMiddle p {
    margin: 0 0 0 30px;
  }

  .featureBar .right .text {
    background-position: -115px 0;
  }
}
@media screen and (max-width: 350px) {
  .heroOverlay {
    width: 320px;
    height: 224px;
  }
  .heroOverlay .heroOverlay .inner {
    padding: 20px 0 0 20px;
  }
}
/*Variables*/
/*Fonts*/
/*Core Styles*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #121E3C;
  margin: 0;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.siteGrid {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.siteGridMedium {
  position: relative;
  width: 100%;
  max-width: 775px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.siteGridSmall {
  position: relative;
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*Responsive Core Styles*/
@media screen and (max-width: 650px) {
  .siteGridSmall, .siteGridMedium {
    padding: 0;
  }
}
/*Text Styling*/
a, a:visited {
  text-decoration: none;
  color: #121E3C;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin: 20px 0;
}

.heroBar p {
  font-size: 1.5rem;
}

.textMiddle p {
  margin: 0 33px;
}

.cornerText p {
  margin: 0;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2em;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5 {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1.5rem;
}

h1 {
  font-size: 10rem;
  line-height: 9rem;
}

h2 {
  font-size: 6rem;
  letter-spacing: 1rem;
  line-height: 6.2rem;
}

h3 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 1.7rem;
  line-height: 1.2em;
  letter-spacing: 2px;
}

.stayConnected h5 {
  margin-bottom: 10px;
}

.underlineBold {
  font-weight: 600;
  text-decoration: underline;
}

.stroke {
  background: url(../assets/stroke.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 15px;
}

/*Responsive Font Sizing*/
@media screen and (max-width: 1070px) {
  h1 {
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: 0.6rem;
  }

  h2 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: 0.6rem;
  }

  h2 {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    line-height: 4rem;
  }

  h3 {
    letter-spacing: 0.3rem;
  }

  .heroOverlay .textMiddle p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 0.4rem;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.3rem;
  }
}
/*Input Style*/
input[type=text] {
  height: 20px;
  border: 0;
  padding: 10px 20px;
  width: calc(100% - 40px);
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

button, .input[type=submit] {
  margin-left: -50px;
  height: 30px;
  border: 0;
  padding: 10px 20px;
  background: #ffffff url(../assets/submit.png);
  background-size: 22px 11px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border: 0;
  -webkit-appearance: none;
  transition: 0.5s ease;
}
button:hover, .input[type=submit]:hover {
  background-position: right;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121E3C;
}

:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121E3C;
  opacity: 1;
}

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121E3C;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121E3C;
}

::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121E3C;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #121E3C;
}

/*Buttons*/
a.markerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  float: left;
  width: 245px;
  height: 66px;
  background: url(../assets/markerButton.png);
  background-size: cover;
  background-position: center;
}
a.markerButton:hover {
  filter: saturate(1.4);
}

a.buttonUnderline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  float: left;
  width: auto;
  height: 50px;
  background: url(../assets/buttonUnderline.png);
  background-size: 86px 8px;
  background-position: bottom;
  background-repeat: no-repeat;
  font-size: 2rem;
}
a.buttonUnderline:hover {
  filter: saturate(1.4);
}

/*Social Media Buttons*/
.smButton .fc {
  background: url(../assets/fc.png);
  background-size: 8px 16px;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 11px;
}
.smButton .ig {
  background: url(../assets/ig.png);
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 11px;
}
.smButton .in {
  background: url(../assets/in.png);
  background-size: 16px 16px;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 11px;
}

/*Misc Styles*/

/*# sourceMappingURL=style.css.map */
