/*font*/
@import url(https://fonts.googleapis.com/css?family=Istok+Web);

/*stops the browser setting auto padding, chrome does this*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: normal 1em/1.2em "Istok Web", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

h1, h2 {
  font-family: "Istok Web", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}

h2 {
  font-size: 1.4em;
  line-height: 30px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  color: #000000;
  padding-bottom: 5%
}

p {
  margin: 10px 0;
}
/*stops links being ugly*/
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/*layout*/
/*shadow below nav bar*/
.fixed-nav-bar {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
}

.content {
  position: relative;
  background: url(../assets/mac.jpg);
  /*so the image fits*/
  background-size: cover;
 }

 /*keeps content looking okay in desktop view*/
.description, .about-us {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.description {
  padding-top: 190px;
  min-height: 420px;
  text-align: center;
  color: #000000;


}
.about-us h1 {
  color: #000000;
  margin-top: 30px;
  text-align: center;
}

div.img {
    border: 3px solid #ffffff;
}

div.img:hover {
    border: 3px solid #A9DDD6;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 0px;
    float: left;
    width: 49.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 620px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
