<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rich People</title>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
            font-family: Arial;
        }

        h2 {
            font-family: Arial;
        }
    </style>
</head>
<body>
    <h2>Rich People</h2>
    <div ng-app="MyApp" ng-controller="MyController">                          <!--attaches the controller class to the view-->
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Name</th>                                                  <!--setting the titles for the table-->
                <th>Company</th>
                <th>Age</th>
                <th></th>
            </tr>
            <tbody ng-repeat="customer in customers">                          <!--iterates over the objects properties,so it will go through every object in scope.customers-->           
                <tr>
                    <td>{{customer.name}}</td>                                 <!--binding for the properties, it will get the name for every person-->
                    <td>{{customer.company}}</td>                              <!--binding for the properties, it will get the company for every person-->
                    <td>{{customer.age}}</td>                                  <!--binding for the properties, it will get the age for every person-->
                    <td><input type="button" ng-click="Remove($index)" value="Remove" /></td>   <!--the button for the removal of a person in the table-->
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="text" ng-model="name" /></td>             <!--each data type needs a way for the user to enter a value into it, this is for the name-->
                    <td><input type="text" ng-model="company" /></td>          <!--this is for the company-->
                    <td><input type="text" ng-model="age" /></td>              <!--this is for the age-->
                    <td><input type="button" ng-click="Add()" value="Add" /></td>   <!--button to add these values to the array-->
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
                <script src="Angular.js"></script>
   
</body>
</html>